@media (max-width: 1280px) {

#navlinks {
    display: none;
}

#logo-h2 {
    font-size: 300%;
}
/* off-screen-menu */
.off-screen-menu {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    height: 3000px;
    width: 100%;
    max-width: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    text-align: left;
    font-size: 3rem;
    transition: .3s ease;
    font-size: clamp(1.5em, 2vw, 3em);


}

.ul-container {
  padding-top: 25%;
  max-height: 100vh; /* Adjust as needed */
  overflow-y: auto;  /* Enable vertical scrolling */
  box-sizing: border-box; /* Make padding included in height */
}


.off-screen-menu ul{
    list-style: none;
/*     margin-top: 30%; */
    overflow: auto;
}

.off-screen-menu ul li{
    margin-top: 3%;
}

.off-screen-menu.active {
    right: 0;
}

.off-screen-menu ul a{
    color: white;
    text-decoration: none;
}

#first-list-item {
    margin-bottom: 5%;
    color: white;
}

#search-wrapper-container {
    margin-bottom: 5%;
}

/* nav */
nav {
    padding: 1rem;
    display: flex;

}

.search-wrapper {
  display: flex;
  align-items: center;
}

/* Input styling (same as before) */
.styled-input {
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px 0 0 8px; /* Rounded only on left side */
  outline: none;
  width: 250px;
  transition: all 0.3s ease;
}

.styled-input:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0,123,255,0.5);
}

/* Button styling */
.search-btn {
  background-color: #007BFF;
  border: none;
  color: white;
  padding: 14px;
  border-radius: 0 8px 8px 0; /* Rounded only on right side */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.search-btn svg {
  display: block;
}


/* ham menu */
.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
    display:block;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
}

@media (orientation: landscape) {
.ul-container {
    padding-top: 15%;
    height: 90vh;
}}
